img {
    width: 230px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.botao {
    border: 2px solid black;
    border-radius: 32px;

    padding: 3px;
    margin: 50px auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    position: sticky;
}

nav p {
    padding: 10px;
}

